<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet" type="text/css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

    <style>
      body{
        background-color: #ddd;
      }

      #info{
        margin-top: 100px;
        padding: 50px;
        background-color: #fff;

      }
      h3{
        color: #970c36;
      }

    </style>
</head>
<body>

  <nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
      <div class="navbar-header">
        <li><a class="navbar-brand" href="{{ url_for('home') }}"><img src="http://127.0.0.1:5000/static/images/logo1.jpeg" style="width: 200px; height: 35px;"></a></li>
      </div>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="{{ url_for('home') }}"> Home</a></li>
        <li><a href="{{ url_for('tour') }}"> College tour</a></li>
        <li><a href="{{ url_for('notice') }}">Notice</a></li>
        <li><a href="{{ url_for('departments') }}">Departments</a></li>
        <li><a href="{{ url_for('audio') }}">Audio guide</a></li>
        <li><a href="{{ url_for('voice') }}">Voice Query</a></li>
      </ul>
    </div>
  </nav>
      <img src="http://127.0.0.1:5000/static/images/demo.jpeg"  style="width:100%;height: 50vh;">
  <div class="container">
      <div id="info">
        <div class="row">
            <div class="col-lg-6">
              <h3><b>CHAIRMAN</b></h3>
              <hr>
              <p>"The Future of our country depends on outlook and behavior of our students. The graduates emerging from the portals of an educational institution should possess at least minimal moral values. A college is a platform to mould the student to be model acceptable by the society. They should not only excel in subject matter, they should develop their traits and add value to life and should become a role model."</p>
              <p>HKBK is a platform, where your potential finds its opportunities. You can call HKBK is a process where every day is an opportunity to learn. Unlearn and relearn.You can join a community of learners, whether they are 10,000+ alumni or  200+ faculty experts.</p>
              <p>I welcome you to be a HKBKian, together we have come a long way, with you we look forward to taking it further.
                <br> <br>
                <b>C M Ibrahim
                  <br> Chairman
                  <br>
HKBK College of Engineering</b>
              </p>

            </div>
            <div class="col-lg-6">
                <img src="https://hkbk.edu.in/backend/backend/c-m-ibrahim-main.png" style="width:100%" alt="">
            </div>
        </div>
      </div>
  </div>
  <div class="container">
    <div id="info">
      <div class="row">
          <div class="col-lg-6">
            <h3> <b> DIRECTOR </b> </h3>
            <hr>
            <p>“On behalf of the institute, i welcome you to HKBKCE,an adobe where young minds are nurtured to become tomorrow's professionals and socially responsible individuals.At HKBK college of engineering, our vision is based on hard work, dedication, discipline and determination with a strong emphasis on teamwork & shouldering high level of responsibility. This culture allows our students not only adopt themselves to the present day challenge but also accept individual responsibility to the family, society and nation. The institute has set specific objectives and activity plans for achieving excellence in all areas of quality technical education. We strongly believe in achieving academic excellence through high standards in teaching, career guidance and moulding team players. At HKBK college of Engineering, we emphasise on creating technical competence and readily employable technocrats and managers for the corporate organisations.
              <br> <br> <b>C M Faiz
                <br>
              Director
              <br>
              HKBK College of Engineering</b></p>

          </div>
          <div class="col-lg-6">
              <img src="https://hkbk.edu.in/backend/backend/c-m-Faiz-leadership-team.png" style="width:100%" alt="">
          </div>
      </div>
    </div>
</div>

<div class="container">
    <div id="info">
      <div class="row">
          <div class="col-lg-6">
            <h3> <b> PRINCIPAL </b> </h3>
            <hr>
            <p>"It is my great pleasure to welcome you to HKBK College of Engineering, which has a  long-standing reputation in providing professional education.

              This institution has served the education field for more than 20 years by producing challenging engineers to serve the dynamic society. Here the students are nurtured as ethical professionals, concentrating more on innovation and creativeness. Additionally, the students are provided with ample opportunities to showcase their talents in co-curricular and Extra-Curricular Activities.
              
              We help the students in building management, leadership, and communication skills. Thus, this institute trains technical professionals into leaders in the international perspective. We equip the professionals in terms of social and technical aspects to face the changing world.
              
              Here students are made industry-ready through sponsored projects, internships, student’s chapters of professional bodies and Students Development Programs (STP). Highly qualified and experienced faculties, Green Campus, state of art lab facilities, quality canteen food ensures a healthy and peaceful learning experience for the students."
              <br> <br> <b>Dr. Tabassum Ara
                <br>
                Principal
                <br>
                HKBK College of Engineering</b></p>

          </div>
          <div class="col-lg-6">
              <img src="https://hkbk.edu.in/backend/backend/Tabassum%20Ara1%20(1).jpg" style="width:100%" alt="">
          </div>
      </div>
    </div>
</div>

<div class="container">
  <div id="info">
    <h3>CONTACT US</h3>
    <div class="row">
        <div class="col-lg-6">
          <p><span class="glyphicon glyphicon-phone"></span><a href="#">080 2544 1722 / 3690 / 3698 / 3744 / (L)</a></p>
          <p><span class="glyphicon glyphicon-envelope"></span><a href="#">info@hkbk.edu.in</a></p>
        </div>

        <div class="col-lg-6">
          <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d31098.699881876553!2d77.60029245195392!3d13.014167715369615!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bae173bf5f0f88f%3A0x8765247ff5e4e171!2sHKBK%20College%20of%20Engineering!5e0!3m2!1sen!2sin!4v1684801036901!5m2!1sen!2sin" width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
    </div>
    </div>
    </div>

<div class="container">
  <div id="info">
    <h3>TESTIMONALS</h3>
    <div class="row">
        <div class="col-lg-6">
          <img src="http://127.0.0.1:5000/static/images/testimonals/IMG-20230503-WA0020.jpg" style="width: 100%">
        </div>
        <div class="col-lg-6">
          <img src="http://127.0.0.1:5000/static/images/testimonals/IMG-20230503-WA0021.jpg" style="width: 100%">
        </div>
        </div>
        <div class="row">
        <div class="col-lg-6">
          <img src="http://127.0.0.1:5000/static/images/testimonals/IMG-20230503-WA0022.jpg" style="width: 100%">
        </div>
        <div class="col-lg-6">
          <img src="http://127.0.0.1:5000/static/images/testimonals/IMG-20230503-WA0023.jpg" style="width: 100%">
        </div>
        </div>
    </div>
  </div>
</div>

<div class="container">
  <div id="info">
    <h3>CAMPUS NEWS</h3>
    <div class="row">
        <div class="col-lg-6">
          <img src="http://127.0.0.1:5000/static/images/news/IMG-20230503-WA0017.jpg" style="width: 100%">
        </div>
        <div class="col-lg-6">
          <img src="http://127.0.0.1:5000/static/images/news/IMG-20230503-WA0018.jpg" style="width: 100%">
        </div>
        </div>
        <div class="row">
        <div class="col-lg-6">
          <img src="http://127.0.0.1:5000/static/images/news/IMG-20230503-WA0019.jpg" style="width: 100%">
        </div>
        
        <div class="col-lg-6">
          <img src="http://127.0.0.1:5000/static/images/news/IMG-20230503-WA0030.jpg" style="width: 100%">
        </div>
        </div>
        <div class="row">
          <div class="col-lg-6">
            <img src="http://127.0.0.1:5000/static/images/news/IMG-20230503-WA0025.jpg" style="width: 100%">
          </div>

          </div>
    </div>
  </div>
</div>


<div class="container">
  <div id="info">
    <h3>CAMPUS NEWS</h3>
    <div class="row">
        <div class="col-lg-12">
          <img src="http://127.0.0.1:5000/static/images/news/IMG-20230503-WA0017.jpg" style="width: 100%">
        </div>
    </div>
  </div>
</div>

<div class="container">
  <div id="info">
    <div class="row">
        <div class="col-lg-12">
          <img src="http://127.0.0.1:5000/static/home.jpg" style="width: 100%">
        </div>
    </div>
  </div>
</div>

</body>
</html> 


